._x19{flex-grow:1}
.sp_nBwOtiRjt3d{background-image:url(/rsrc.php/v3/ys/r/tAwsGrn6m_h.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_nBwOtiRjt3d.sx_40ff4f{background-position:0 0}.sp_nBwOtiRjt3d.sx_aa9551{background-position:0 -33px}.sp_nBwOtiRjt3d.sx_1d9820{background-position:0 -66px}.sp_nBwOtiRjt3d.sx_d91a29{background-position:0 -99px}

#bootloader_KN0Oy{height:42px;}.bootloader_KN0Oy{display:block!important;}