._7v3u{border-radius:13px;color:#fff;font-size:12px;padding:3px 5px}
.sp_Jc8OKpJq5NW{background-image:url(/rsrc.php/v3/yV/r/RO526ka7f9m.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_Jc8OKpJq5NW.sx_6d061b{background-position:0 0}.sp_Jc8OKpJq5NW.sx_7369b7{background-position:0 -33px}.sp_Jc8OKpJq5NW.sx_eed207{background-position:0 -66px}

#bootloader_ID45M{height:42px;}.bootloader_ID45M{display:block!important;}